# PostgreSQL (used by Docker)
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# ---- ORDER SERVICE ----
ORDER_DB_URL=
ORDER_DB_USER=
ORDER_DB_PASSWORD=

# ---- PAYMENT SERVICE ----
PAYMENT_DB_URL=
PAYMENT_DB_USER=
PAYMENT_DB_PASSWORD=